
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .01rem;
}

:root {
    --rose: #af4c87;
    --orange: #f4511e;
    --background-color: #f0f0f0;
    --input-border-color: #a7a7a7;
    --vert: #54af4c;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--background-color);
    line-height: 1.6;
}
